body {
    background-color: black;
  }

#player-health {
  color:black;
  position: absolute;
    top: 520px;
    left: 240px;
} 

#player-mana {
  color: black;
  position: absolute;
    top: 550px;
    left: 240px;
}
#instructions-button {
  position: absolute;
  top: 620px;
  left: 370px;
  
}
  
#quick-attack-button {
    position: absolute;
    top: 530px;
    left: 480px;
}

#heavy-attack-button {
  position: absolute;
  top: 570px;
  left: 480px;
}

#heal-button {
  position: absolute;
  top: 530px;
  left: 680px;
}

#health-bar-container {
  width: 300px;
  height: 20px;
  border: 1px solid rgb(255, 255, 255);
}

#health-bar {
  width: 0%;
  height: 100%;
  background-color: green;
  
}

#enemy-health-bar-container {
  width: 300px;
  height: 20px;
  border: 1px solid rgb(255, 255, 255);
}

#enemy-health-bar {
  width: 0%;
  height: 100%;
  background-color: red;
}